body{
    width: 100%;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    z-index: 100;
    position: relative;
}
.menu{
    display: flex;
    position: relative;
}
a{
    list-style: none;
    text-decoration-line: none;
    color: black;
}
li{
    list-style: none;
    padding: 10px;
}
ul{
    margin: 0px;
    padding: 0px;
}
.menu li ul{
    position:absolute;
    background-color: rgba(89, 81, 81, 0.3);
    border-radius: 5px;
    margin: 0px;
    top: 33px;
    display:none;
    z-index: 101;
}
.menu li:hover ul{
    display: block;
}
.sub-menu li{ 
    padding: 5px 10px;
    margin: 0px;
    border-radius: 0px 0px 5px 5px;
}
.sub-menu li a{
    color: white;
}
.sub-menu li:hover{
    background-color: rgba(89, 89, 94, 0.5);
}
main{
    width: 80%;
    margin: 40px auto;
    font-family: "Nunito", sans-serif;
}
.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.item {
    text-align:left;
}

.item img {
    width: 100%;
    border-radius: 5px;
    height: 220px;
    object-fit: cover;
}
.item .tt{
    display: flex;
    gap: 15px;
    padding: 15px 0px;
    color: gray;
    font-size: 18px;
}
.item .tieude{
    font-size: 20px;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pagination {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.pagination .page,
.pagination .next {
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
}

.pagination .active {
    background: black;
    color: white;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 90px;
}
footer .logo{
    margin-left: 30px;
}
.lienhe{
    display: flex;
    gap: 40px;
    width: 70%;
    align-items: center;
    margin-right: 50px;
}